.Card {
	height: 15vh;
	width: 10.8vh;

	position: relative;

	z-index: 5;

	display: flex;
	justify-content: center;
	/*animation: Float 2s ease-in-out infinite alternate;*/
	transform-style: preserve-3d;

}

.CardContainer {
	position: absolute;
	height: 15vh;
	width: 10.8vh;

	transition: 1s ease;
}

.Flipped {
	transform: rotateY(180deg);
}

.Card:hover .CardContainer {
	height: 27vh;
	width: 18vh;

	transform: translateY(-144px) scale(1.44);

	animation: Flip 0.5s ease;
}

.CardFace,
.CardBack{
  position: absolute;

  top: 0;
  left: 0;
	bottom: 0;
  right: 0;

  border: 5px solid white;

  border-radius: 5px;
  color: white;

  backface-visibility: hidden;

	content: '';
}

.CardFace {

}

.CardBack {
	background: black;
	transform: rotateY(180deg);
}

@keyframes Flip {
	0% {
    transform: translateY(0) rotateY(0) scale(1);
  }
  100% {
		transform: translateY(-144px) rotateY(360deg) scale(1.44);
  }
}

@keyframes Fade {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}

@keyframes Float {
  0% {
    transform: rotateY(0) translateY(0);
  }
  100% {
       transform: translateY(0.5rem);
  }
}
