/* Index/Home style */

body {
  overflow: hidden;
  background: #222;
}

#GameContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#RightColumn {
  position: absolute;
  top: 0;
  right: 0;
  width: 14.4vw;
  height: 100vh;
  background: #111;
}

#CentralDeck {
  background: #444;
  width: 90%;
  max-width: 90px;
  height: 135px;
}

#NPCSide {

}

#PlayerSide {

}

#NPCSide .Equipment {
	pointer-events: none;
}

#NPCSide .Hand {
  transform: rotateX(180deg);
  pointer-events: none;
}
