#InfoPopup {
	position: fixed;
  background-color: rgba(100, 100, 100, 0.3);
	color: white;
  right: -126px;

	width: 144px;
  height: 100vh;
  z-index: 1008;
  transition: 0.45s;
}

#InfoPopup.ShowInfo {
	padding-right: 126px;
}

#InfoPopup:hover {
  padding-right: 126px;
}

#InfoPopup .InterfaceButton {
	position: absolute;
	background: dodgerblue;
	color: white;
	padding-right: 0;
	right: 0;

	justify-content: flex-start;
  align-items: center;
	padding-left: 2em;
}

#InfoPopup .InterfaceButton .oi {
	left: 1em;
	right: auto;
}

#InfoText {
	padding-left: 1em;
	font-size: 1em;
}
