.HalfPlayingBoard {
  background: #444;
  width: 63vw;
  height: 47.7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Stats {
  background: #111;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Equipment {
  background: #555;
  width: 100%;
  height: 40%;
}

.Hand {
  background: white;
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: space-around;
}

.Avatar {
  background: white;
  height: 100%;
  width: 20%;
}

.Point {
  background: gray;
  height: 100%;
  width: 15%;
}

#NPCSide .Hand {
  transform: rotateX(180deg);
  pointer-events: none;
}
