/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
*/



#BrandLogoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#BrandLogoContainer img {
	box-shadow: 1px 0px 50px black;
}

nav ul a {
	font-size: 1.2rem;
}

a .fa {
	color: white;
	padding-right: 15px;
	transition: 0.5s;
}

a .fa:hover {
	color: #ccc;
}
