body {
	overflow-x: hidden;
	margin: 0;
}

hr {
	margin-bottom: 2em;
}

h1, h2, h3 {
	font-family: monospace;
	display: block;
	margin: 0;
	font-weight: lighter;
}

h1 {
	font-size: 2.7em;
}

h2 {
	font-size: 1.44em;
	color: gray;
}

h3 {
  font-size: 1.17em;
}

ul {
	list-style-type: circle;
}

a {
	opacity: 0.54;

	transition: 0.36s;
}

a:link {
	color: dodgerblue;
}

a:visited {
	color: gray;
}

a:visited:hover {
	color: dodgerblue;
}

a:hover {
	opacity: 1;
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

article {
	padding-bottom: 2em;
}

#Copyright {
	bottom: 0;
	width: 100vw;
	color: gray;
	text-align: center;
  background: white;

	opacity: 0;
	animation: appear 0.5s ease-in forwards;
	animation-delay: 5s;
}

#LicenseLogoAnchor:hover {
	background: white;
}

#CopyrightText {
	background: white;
}

.LicenseLogo {
	display: inline-block;
	border: none;
	height: 1em;
	opacity: 0.45;
	transition: 0.36s;
}

.LicenseLogo:hover {
	opacity: 1;
}

#Top {
	top: 45px;
	width: 100vw;
	display: flex;
	justify-content: space-around;
}

#TopLeft {
	top: 45px;
  left: 45px;
}

#TopRight {
	top: 45px;
  right: 45px;
}

#Back::before {
	content: "<";
}

#Back:hover::after {
	content: "back";
}

.CircleButton {
	opacity: 1;
	border-radius: 45px;
  width: 45px;
  height: 45px;
  border: 1.8px solid dodgerblue;
	text-decoration: none;
	color: dodgerblue;
	font-family: monospace;
	font-size: 1.44em;
	transition: 0.36s;
}

.CircleButton:hover {
	width: 180px;
	background: dodgerblue;
	color: white;
	text-decoration: none;
}

.CircleButton:visited {
	color: gray;
	border: 1.8px solid gray;
}

.CircleButton:visited:hover {
	width: 180px;
	background: dodgerblue;
	border: 1.8px solid dodgerblue;
	color: white;
	text-decoration: none;
}

.BubbleButton {
	opacity: 1;
  border-radius: 45px;
  width: 180px;
  height: 45px;
  border: 1.8px solid dodgerblue;
	text-decoration: none;
	color: dodgerblue;
	font-family: monospace;
	font-size: 1.44em;
	transition: 0.36s;
}

.BubbleButton:hover {
	background: dodgerblue;
	color: white;
	text-decoration: none;
}

.BubbleButton:visited {
	color: gray;
	border: 1.8px solid gray;
}

.BubbleButton:visited:hover {
	background: dodgerblue;
	color: white;
	text-decoration: none;
	border: 1.8px solid dodgerblue;
}

.ActiveButton {
	background: dodgerblue;
	color: white;
	border: 1.8px solid dodgerblue;
}

.ActiveButton:visited {
	color: white;
	border: 1.8px solid dodgerblue;
}

.Fixed {
	position: fixed;
}

.Absolute {
  position: absolute;
}

.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LastAppear {
	opacity: 0;
	animation: appear 0.5s ease-in forwards;
	animation-delay: 4s;
}

@keyframes droplet {
  0% {
    top: -270px;
    border-radius: 50% 50% 50% 50%;
  }
  100% {
    top: 45px;
    height: 36px;
    width: 36px;
    border-radius: 50% 50% 50% 4.5%;
  }
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes appear03 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.3;
	}
}

@media only screen and (max-width: 630px){
	#Top {
			height: 180px;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
	}

	#Center {
		top: 270px;
		width: 90vw;
		left: 5vw;
	}

	.BubbleButton {
		width: 90vw;
	}
}
