body {
  overflow: hidden;
}

#Documentation::before {
	content: "d";
}

#Documentation:hover::after {
	content: "ocumentation";
}

.CircleButton {
	border-radius: 45px;
  width: 45px;
  height: 45px;
  border: 1.8px solid dodgerblue;
	text-decoration: none;
	color: dodgerblue;
	font-family: monospace;
	font-size: 1.44em;
	transition: 0.36s;
}

.CircleButton:hover {
	width: 180px;
	background: dodgerblue;
	color: white;
}

.BubbleButton {
  border-radius: 45px;
  width: 180px;
  height: 45px;
  border: 1.8px solid dodgerblue;
	text-decoration: none;
	color: dodgerblue;
	font-family: monospace;
	font-size: 1.44em;
	transition: 0.36s;
}

.BubbleButton:hover {
	background: dodgerblue;
	color: white;
}

.Absolute {
  position: absolute;
}

.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LastAppear {
	opacity: 0;
	animation: appear 0.5s ease-in forwards;
	animation-delay: 4s;
}

#TopLeft {
	top: 45px;
  left: 45px;
}

#TopRight {
	top: 45px;
  right: 45px;
}

#Bottom {
  bottom: 45px;
  width: 100vw;
}

#Center {
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  height: 300px;
  width: 300px;
  flex-direction: column;
}

#Title {
	font-size: 2.7em;

	opacity: 0;
	animation: appear 0.5s ease-in forwards;
	animation-delay: 1s;
}

#Subtitle {
  font-size: 1.35em;
	color: gray;

	opacity: 0;
	animation: appear 0.5s ease-in forwards;
	animation-delay: 2s;
}

#Description {
  font-size: 1.17em;

	opacity: 0;
	animation: appear 0.5s ease-in forwards;
	animation-delay: 3s;
}

#Icon {
  width: 0px;
  height: 0px;
  transform: rotate(135deg);
	border: 1.8px dodgerblue solid;
  /*background-color: dodgerblue;*/
  z-index: -1;
  animation: droplet 1s ease-out forwards;
  animation-delay: 0;
}

#Icon:hover {
	width: 1;
	background-color: dodgerblue;
}

@keyframes droplet {
  0% {
    top: -270px;
    border-radius: 50% 50% 50% 50%;
  }
  100% {
    top: 45px;
    height: 36px;
    width: 36px;
    border-radius: 50% 50% 50% 4.5%;
  }
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
