/* Index/Home style */

body {
  overflow: hidden;
}

#Bottom {
  bottom: 90px;
  width: 100vw;
}

#Center {
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  height: 300px;
  width: 300px;
  flex-direction: column;
}

#Title {
	opacity: 0;
	animation: appear 0.5s ease-in forwards;
	animation-delay: 1s;
}

#Subtitle {
	opacity: 0;
	animation: appear 0.5s ease-in forwards;
	animation-delay: 2s;
}

#Description {
	opacity: 0;
	animation: appear 0.5s ease-in forwards;
	animation-delay: 3s;
}

#Icon {
  width: 0px;
  height: 0px;
  transform: rotate(135deg);
	border: 1.8px white solid;
  /*background-color: dodgerblue;*/
  animation: droplet 1s ease-out forwards;
  transition: 0.5s;
}

#Icon:hover {
	background-color: white;
}

.Concept {
	position: fixed;
	right: 0;
	top: 100px;
	height: 100%;

	opacity: 0;

	animation: appear03 0.5s ease-in forwards;
	animation-delay: 4.5s;

}

@media only screen and (max-width: 630px){
	.Concept {
		width: 100%;
		height: auto;
	}
}
