/* Proposal style */

#Center {
  top: 135px;
  left: calc(50vw - 27vw);
  height: auto;
  width: 54vw;
  flex-direction: column;
	margin-bottom: 90px;
}

.FadeInArticle {
	opacity: 0;
	animation: appear 0.5s ease-in forwards;
}

.FadeInArticle > p {
  font-size: 1.35em;
  text-align: justify;
	padding-left: 2em;
}

.FadeInArticle > ul {
	padding-left: 4em;
}

@media only screen and (max-width: 630px){
  .FadeInArticle > p {
    font-size: 1.17em;
  }
}

.ConceptContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

#Concept0 {
	width: 90%;
	height: 90%;
}

#Concept1 {
	width: 90%;
	height: 90%;
}

#Concept2 {
	width: 90%;
	height: 90%;
}

.First {
  animation-delay: 0.5s;
}

.Second {
  animation-delay: 1.5s;
}

.Third {
  animation-delay: 2.5s;
}

.Forth {
  animation-delay: 3.5s;
}

.Fifth {
  animation-delay: 4.5s;
}

.Sixth {
  animation-delay: 5.5s;
}
